---
layout: default
---
<!-- about.html -->
      <div class="post">

        <header class="post-header">
                 <br/>
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <!-- <div class="post-description"> -->
            <p >{{ page.subtitle }}</p>
          <!-- </div> -->
        </header>
  
          

        <article>
          <!-- {% if page.profile -%}
          <div class="profile float-left" style="border: 1px solid black;">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}
              {% include figure.html 
              path=profile_image_path 
              class="img-fluid z-dept-1 rounded"
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div> -->
          <div class="profile float-right" style="padding-left:50px; width:45%; height:100%;">
              <div class="computer-container">
                <div class="computer-monitor">
                <!-- <div class="computer-monitor" onclick="window.open('/terminal/', '_self')"> -->
                  <!-- <div class="loader" style="z-index: 4; padding-top:15vh; padding-left:2vw;"> -->
                  <div class="dna-container">
                    <div class="loader" style="z-index: 4;">
                      <!-- <div class="dot dot1"><i></i></div>
                      <div class="dot dot2"><i></i></div>
                      <div class="dot dot3"><i></i></div> -->
                      <!-- <div class="dot dot4"><i></i></div> -->
                      <!-- <div class="dot dot5"><i></i></div>
                      <div class="dot dot6"><i></i></div>
                      <div class="dot dot7"><i></i></div>
                      <div class="dot dot8"><i></i></div>
                      <div class="dot dot9"><i></i></div> -->
                      <div class="dot dot10"><i></i></div>
                      <div class="dot dot11"><i></i></div>
                      <div class="dot dot12"><i></i></div>
                      <div class="dot dot13"><i></i></div>
                      <div class="dot dot14"><i></i></div>
                      <div class="dot dot15"><i></i></div>
                      <div class="dot dot16"><i></i></div>
                      <div class="dot dot17"><i></i></div>
                      <div class="dot dot18"><i></i></div>
                      <div class="dot dot19"><i></i></div>
                      <div class="dot dot20"><i></i></div>
                      <div class="dot dot22"><i></i></div>
                      <div class="dot dot23"><i></i></div>
                      <div class="dot dot24"><i></i></div>
                      <div class="dot dot25"><i></i></div>
                      <div class="dot dot26"><i></i></div>
                      <div class="dot dot27"><i></i></div>
                      <div class="dot dot28"><i></i></div>
                      <div class="dot dot29"><i></i></div>
                      <div class="dot dot30"><i></i></div>
                      <div class="dot dot21"><i></i></div>
                    </div>
                  </div>
                </div>
                <div class="computer-bottom"></div>
                <div class="computer-stand"></div>
                <div class="computer-stand-bottom"></div>
              </div>
            </div>
          </div>
          <div class="clearfix" style=" width: 55%; padding-top:2vh;">
            {{ content }}
            {%- if page.social %}
            <!-- Social -->
            <div class="social-links">
              {% include social.html %}
            </div>
            {%- endif %}
          </div>
          {%- endif %}
          
          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
        </article>

  </div>
    </div>
