<!DOCTYPE html>
<html lang="en">

<head>
  <!--Jquery!-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/js/createObjects/lms.js"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <title>Mihir Bafna (Terminal) </title>
  <link rel="icon" type="image/x-icon" href="../assets/img/dna.png">
  <link rel="stylesheet" href="../assets/css/terminal.css" />
    <link rel="stylesheet" href="../assets/css/terminal-extra.css">
    <link rel="stylesheet" href="../_sass/_themes.scss">
    <link rel="stylesheet" href="../_sass/_variables.scss">

    <script src="https://kit.fontawesome.com/3f2db6afb6.js" crossorigin="anonymous"></script>
    <script src="../assets/js/terminal.js"></script>
    <script src="../assets/js/theme.js"></script>
    <script src="../assets/js/dark-mode.js"></script>
    <script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
</head>
<body>
  <!-- {%- include header.html %} -->

  <div class="terminal_window" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    </div>
    <div class="fakeMenu">
      <div class="fakeButtons fakeClose" id="close" onclick="window.open('/', '_self')"></div>
      <div class="fakeButtons fakeMinimize"></div>
      <div class="fakeButtons fakeZoom"></div>
    </div>
    <div class="fakeScreen">
      <div class="terminal-window primary-bg" onclick="document.getElementById('dummyKeyboard').focus();">
        <div class="terminal-output" id="terminalOutput">
          <div class="terminal-line">
            <span class="help-msg">Welcome to Mihir's Portfolio Terminal! <br> <br> Type <span class="help">help</span> to see a list of supported
              commands.<br>
          </div>
        </div>
        <div class="terminal-line">
          <span class="success">➜</span>
          <span class="directory">~</span>
          <span class="user-input" id="userInput"></span>
          <span class="line anim-typewriter"></span>
          <input type="text" id="dummyKeyboard" class="dummy-keyboard" />
        </div>
      </div>
    </div>
  </div>
  {%- include footer.html %}

</body>

